# offline directories
GIS/
inventory/
Stand*/

# QGIS, RStudio, and other user data
.Rhistory
.Rproj.user/
**/*.gpkg
**/*.jpg
**/*.jpeg
**/*.las
**/*.png
**/*.qgz
**/*.Rds
**/*.Rproj
**/*.svg
**/*.xlsx
**/*.xlsx#
.positai
